pip
setuptools
wheel

torch
torchvision

fastapi
gunicorn
uvicorn[standard]
python-multipart
requests
httpx

numpy
opencv-python-headless
ultralytics

# Google Earth Engine for satellite imagery
earthengine-api
geemap
rasterio
pillow

